language: node_js
node_js:
  - "stable"
cache:
  directories:
    - "node_modules"
script:
  - npm test
  - npm run build
deploy:
  provider: s3
  access_key_id: AKIAIIDTPX6AAAHO6KBQ
  secret_access_key:
    secure: NGGi4s3mWD+Qjz6RsX7tWl/rPzUSqZ6yQVXTEcCGQyqkYEtq4F5h77k1B/MYWZVB57exMH2dW8TgmjIkJUh1ZCqLMV0FwyX7pL4xpHfzSzQLo0HyXKRmOz4GZ5jL81HxVlH8PSsbNfZcn+oTOpcmnBauHnKBsep+Z+ecA3yV1L9YgWh+DQuhssEy1Wdsrmsp6Ve5Y0pzKMCWF1beGmAauoaBFj3Rc7ALH501K54Dz9OHefCTRZjMH6K1JkvYo2l4lkZTKmt+dii70QcX0yrj6uY/a15h4LzBdsR2FdQHRLHbGkDd8hFy1N2vr8VKvLLhUT5lntC4rTZ/Rxf727VYjX6uVPJra8eg24F7f4FkjPjx9gcluBey3bggWNIwmjr1KBB3bawQMPKFW80UBcLJjR0mQtL5V2s+8ddF+/54QoAGIQcmaxS52qtTFws5FHZQ0c9bXw4hDqsSYZ/xCqrVW716A01/JCnADFDKxQWVhbBr2vjTO6ObJYvnOfCtyBCWdc4iVS6VAD5Oedz8pXu4n4P2SU/u2lhGT4NFoJpvhAJG1zfcuyI36mEQv4/Kyhj1lljt9rPAs5bwBvkddRGVjjoEA4yAezEfejRXondT2YKp3hhCYHw7RQwFdHmNampGi1NXw3LTpblgZglQ5Ut0NpqlclmlKqs512rfkDXJivA=
  bucket: "S3 Bucket"
  skip_cleanup: true
