language: node_js
node_js:
  - "stable"
cache:
  directories:
    - "node_modules"
script:
  - npm test
  - npm run build
deploy:
  provider: s3
  access_key_id: AKIAIIDTPX6AAAHO6KBQ
  secret_access_key:
    secure: GVEqXsPbOqA4lZmDHPA0mPF0r+uk+Bc5xnvrZR8+ObVnIQmi+Z8hiXaq1wNEqBzvTc66EDQRXMbnfiE5bdQFPCtWJsqfrouLIso0G3dtckekiwYSPcdWZoJMzzlxv7HNfz1AQ+3vfqCM/Fsta0tA9xcTaO1Cc4EPqIlInymyJQqAKaFE26VR7TYizO+jvhVnmJ+BoAvl1D4W/KCYnponikBtROYKKVCCbgvBAsYyXu1C0HZXFKQTjPXrfZHEPzQ
tTK20N4hE7y+MzFurjGzMszs3GK14SceXMzl0AIkQIf7Uzvajiuq3j9tgnvtL5vx10rhpATJWbrWcl5cZ9gKtVF6GoKcNE6BtZhi3doOMxDFVvS0WBmFkrns9YuUnjhfAtyI2QdusUn3MZHDRVmBlkOgjXJz1qJtMHX8N15f6X0++Pd+aj9r9BTVSLvQAOekgv9KQk+32x3AT1nD4xsiaWM8o+b8LqHpTpd/yEI70ApKKhaUjvFgAaz4QcJbGsfnklEasAQG6s
iWTBoFkJt8Ah9tJ8OvmnvQ1HyCLUuQPTbTxBZZkConw+yRmPWpBZ45vsMOK5pk9cDKDLASnp5c5ZFlMQZOi9P20+tAAZavEctGJt3+iKhb2n7vrkkTINi4QjsM0dxmIuQakbbiv10dY+eAAVcp/GFv/+9AqYLgsQao=
  bucket: campbell.photo.temp
  region: us-east-1
  local_dir: build
  skip_cleanup: true
  on:
    repo: mcampbell6/c-photo-ui  
