html {
    font-size: 100%;
    color: #666666;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: inherit !important;
    font-size: inherit !important;
    color: inherit !important;
}

h1 {
    margin: 0;
}

@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}

img {
    animation: fadeIn 0.5s;
}

.page {
    padding-top: 1.4em;
}


@import './components/header/header.scss';
@import './App.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';


//-----------------------------BOOTSTRAP OVERRIDES------------------------------
.modal-backdrop{
  opacity: 0.5;
}
