body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import './components/header/header.scss';
@import './App.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
